asgiref==3.9.1
click==8.2.1
dj-database-url==3.0.1
Django==5.2.6
django-cors-headers==4.9.0
django-environ==0.12.0
djangorestframework==3.16.1
gunicorn==23.0.0
h11==0.16.0
packaging==25.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
uvicorn==0.35.0
whitenoise==6.11.0
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.2
supabase==2.18.1
supabase_auth==2.12.3
supabase_functions==0.10.1

sentence-transformers==5.1.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0